[submodule "Frontend"]
	path = Frontend
	url = https://github.com/am-ramona/crypto-custodian-dashboard.git

[submodule "Backend"]
	path = Backend
	url = https://github.com/am-ramona/crypto-custodian-apis.git

[submodule "__Tests__"]
	path = __Tests__
	url = https://github.com/am-ramona/crypto-custodian-tests.git
